@import '@style-variables';

.profile-input {
  border: 1px solid transparent;
  border-bottom: 1px solid @lightGray-color;
  padding: 0.2em 0;
  font-size: 1em;
  font-family: inherit;
  flex: 1;
  text-align: right;
  color: @darkGray-color;
}

.profile-input:disabled {
  background: none;
}

.profile-input:focus,
.profile-input:focus-visible {
  outline: none;
}
