<form class="entry-wrapper">
    {{> Header label='Вход' }}
 <div>
    {{> Input label='Логин' name='login' type='text' }}
    {{> Input label='Пароль' name='password' type='password' }}
 </div>
 <div class="entry-footer">
    {{> Button label='Авторизоваться' customClass='button-blue-white' }}
    {{> Button label='Нет аккаунта?' customClass='button-white-blue' }}
 </div>
</form>
