.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-label {
  color: #a7a5a5;
  font-size: 0.7em;
  margin: 0 auto 0 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.input {
  border: 1px solid transparent;
  border-bottom: 1px solid #3369F3;
  padding: 0.2em 0;
  font-size: 1em;
  font-family: inherit;
  transition: border-color 0.25s;
}

input:focus,
input:focus-visible {
  outline: none;
}