@import '@style-variables';

.input {
  border: 1px solid transparent;
  border-bottom: 1px solid @blue-color;
  padding: 0.2em 0;
  font-size: 1em;
  font-family: inherit;
  width: 100%;
}

.input:focus {
  outline: none;
}

.input::-webkit-input-placeholder {
  color: transparent;
}
