@import '@style-variables';

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 10px auto;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.button-blue-white {
  background-color: @blue-color;
  color: @white-color;
}

.button-white-blue {
  background-color: @white-color;
  color: @blue-color;
  border: none;
  padding: 0;
}

.button-red-white {
  background-color: @red-color;
  color: @white-color;
}

.button-white-red {
  background-color: @white-color;
  color: @red-color;
  border: none;
  padding: 0;
}

.button-white-gray {
  background-color: inherit;
  opacity: 1;
  color: @darkGray-color;
  border: none;
  padding: 0;
}
