<div class="profile-wrapper">
{{#with returnPage}}
  {{> GoBackBlock returnPage=this }}
{{/with}}
<div class="profile-info-wrapper">
  <div class="profile-info-content">
    {{#with userName}}
     <div class="profile-avatar">
      {{> Avatar userName=this }}
     </div>
    {{/with}}
    <form class="profile-form">
   {{#each inputs}}
     {{> ProfileInput label=this.label name=this.name type=this.type disabled=this.disabled }}
   {{/each}}
   </form>
   <div class="profile-info-footer">
    {{#each buttons}}
     {{> Button label=this.label customClass=this.className page=this.page }}
    {{/each}}
   </div>
    </div>
   </div>
</div>
