<form class="entry-wrapper">
    {{> Header label='Регистрация' }}
 <div>
    {{> Input label='Почта' name='email' type='text' }}
    {{> Input label='Логин' name='login' type='text' }}
    {{> Input label='Имя' name='first_name' type='text' }}
    {{> Input label='Фамилия' name='second_name' type='text' }}
    {{> Input label='Телефон' name='phone' type='text' }}
    {{> Input label='Пароль' name='password' type='password' }}
    {{> Input label='Пароль (еще раз)' name='password' type='password' }}
 </div>
 <div class="entry-footer">
    {{> Button label='Зарегистрироваться' customClass='button-blue-white' }}
    {{> Button label='Войти' customClass='button-white-blue' }}
 </div>
</form>
