@import "@style-variables";

.go-back-block {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @lightGray-color;
  box-sizing: border-box;
  width: 75px;
  height: 100vh;
  border-right: 1px solid @mediumGray-color;
}
