<div class="error-info-wrapper">
  <div class="error-info-number">{{errorNumber}}</div>
  <div class="error-info-description">
    {{errorText}}
  </div>
  {{! button должна быть отдельным компонентом }}
  <button class="button button-white-blue">
    Назад к чатам
  </button>
</div>
